[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
torchtext = "*"
matplotlib = "*"
sophonsystem = {editable = true, path = "."}
coverage = "*"

[requires]
python_version = "3.8"
